# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
env/
.env

# Node / Angular
node_modules/
dist/
.angular/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.project
.classpath
.settings/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Log files
*.log
